.page-header {
    position: relative;
    border-bottom: 2px solid #dddddd;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@keyframes page-header-loader {
    0% {
        left: 0%;
        width: 0%;
    }

    10% {
        left: 0%;
        width: 10%;
    }

    90% {
        left: 90%;
        width: 10%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

.page-header__loader {
    display: block;
    position: absolute;
    background-color: red;
    height: 2px;
    bottom: -2px;
}

.page-header__loader--indeterminate {
    animation: page-header-loader 1s linear infinite;
}

.page-header__loader--determinate {
    left: 0%;
}

.page-header__burger {
    height: 60px;
    width: 70px;
    padding: 15px 15px 15px 25px;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    &:hover .burger-rod:first-child {
        width: 24px;
        transform: rotate(30deg) translate(8px,2px);
    }
    &:hover .burger-rod:last-child {
        width: 24px;
        transform: rotate(-30deg) translate(8px,-2px);
    }
}

.burger-rod {
    height: 4px;
    display: block;
    background-color: #000000;
    transition: transform 270ms;
    &:nth-child(2) {
        margin: calc(50% - 6px) 0px;
    }
}

.page-header__logo {
    float: left;
    line-height: 60px;
    font-size: 20px;
    padding: 0px 10px;
    color: #000000;
    text-decoration: none;
    display: block;
    margin-left: 20px;
    white-space: nowrap;
    text-align: center;
    outline: none;
}

.page-nav {
    float: right;
}

.page-nav__list {
    margin: 0px;
    padding: 0px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.page-nav__listitem {
    list-style-type: none;
    float: left;
    position: relative;
    margin-left: 2px;
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 19;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 0px;
        background-color: #000000;
        transition: height 200ms ease-in-out;
    }
    &.active {
        &::after {
            height: 2px;
        }
    }
    &:hover {
        &::after {
            height: calc(100% + 2px);
        }
        & .page-nav__link {
            color: #ffffff;
        }
    }
}

.page-nav__link .material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.page-nav__link {
    color: #000000;
    transition: color 120ms ease-in-out 80ms;
    position: relative;
    z-index: 20;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0px 25px 0px 20px;
    outline: none;
}

@media (max-width: 915px) {
    .page-nav {
        display: none;
    }
    .page-header__logo {
        float: none;
        margin: 0px 70px;
    }
    .page-header__burger {
        display: block;
    }
}
